:root {
  --border-radius: 5px;
  --shadow-color: rgba(0, 0, 0, .4) 0px 3px 8px;
  --shadow-color-hover: rgba(0, 0, 0, .4) 0px 3px 15px;
  --font-family: Tahoma, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
  --color-text: #7d7e81;
}
